/* fonts */
@font-face{
    font-family: aller-regular;
    src: url("fonts/aller-regular.ttf");
  }
  
  @font-face{
    font-family: aller-bold;
    src: url("fonts/aller-bold.ttf");
  }

  body{
    font-family: aller-regular;
  }
  
  b{
    font-family: aller-bold;
  }

  /* alert bar */
/* background color */
.alert-primary {
    background-color:black;
    text-align: center; 
    /* font-family: input-mono; */
    color: white;
    margin:0%;
  }

  /* remove border */
.alert{
    border-radius: 0rem;
    border:none; 
    }

/* navbar */
  /* change background color of nav bar */
  .bg-color{  
    background-color:black;
  }

/*brand name*/
  .brand-name{
    font-size:20px;
    color: rgb(136, 206, 194);
  }

  
    